body {
	background: rgb(220, 220, 220); 
	color: rgb(50, 50, 50); ;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}

h1 {
	color: rgb(50, 50, 50);
	font size: 35px;
	font-family: 'Robot Condensed', sans-serif;
}

h2 {
	background: 
	color: rgb(50, 50, 50); ;
	font-size: 28px;
	font-family: 'Robot Condensed', sans-serif;
	font-weight: bold;
}


a {
	text-decoration: none;
	color: rgb(70, 70, 70); ;
}
a:hover {
	color: pink;
}

#img-circle {
	height: 250px;
	width:250px;
	border-radius: 50%;
}

.container {
	width: 700px;
	margin: 40px auto;
	line-height: 1.8;
}

@media(max-width: 960px) {
	.container {
		width: 700px;
	}

}


@media(max-width: 760px) {
	.container {
		color: #008080
		width: 600px;
	}

}

@media(max-width: 500px) {
	.container {
		width: 400px;
	}

}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 20px 0px;
	text-align: center;
}

.btn-purple {
	background-color: #48284A;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-purple:hover {
	background-color: #000080;
}

.link-green:hover {
	color: #A76571;
}

.list-inline {
	color: #808000
	list-style: none;
	padding-left: 0px;
	letter-spacing: 4px;
}

.list-inline li {
	display: inline;
}


.list-inline i {
	font-size: 35px;
}

#introduction p {
	margin-bottom: 25px;
}
